JWT_SECRET_KEY=
CRM_CORE_ENDPOINT=http://localhost:8080
CRM_CORE_API_KEY=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
NEXT_API_URL=http://localhost:8080
AWS_S3_BUCKET_NAME=
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
