POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
APP_PROPERTY_FILE=resources/application-dev.properties
PASSWORD_ENV=
HOST_ENV=
JWT_KEY_ENV=
AWS_ACCESS_KEY_ID_ENV=
AWS_SECRET_ACCESS_KEY_ENV=

# WhatsApp
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_WEBHOOK_SECRET=

# OpenAI
OPENAI_API_KEY=
